.jumbotron{
  background-color: white;
}
h1{
  background-color: transparent;
  width: 50%;
  line-height: 50px;
  transition: background-color 1s;
}
h1:hover{
  background-color: black;
  color: white;
}
.icons{
  margin-left: 4%;
}
a{
  color: black;
}
:host{
  font-family: 'Roboto Mono', monospace;
}
