:host{
  font-family: 'Roboto Mono', monospace;
}
button{
  cursor: pointer;
  font-size: 20px;
  color: white;
  background-color: black;
}
.jumbotron{
  background-color: white;
}
h1{
  background-color: transparent;
  /*width: ;*/
  line-height: 50px;
  transition: background-color 3s;
}
h1:hover{
  background-color: black;
  color: white;
  /*width: 50%;*/
}
.icons{
  margin-left: 4%;
}
a{
  color: black;
}
