<div class="jumbotron">
  <h4>Say Hello at</h4>
  <h1>narvaneni.rakesh2012@gmail.com</h1>
  <h5>
    If you are interested in a new project, collaboration, or a reason to get a coffee don't hesitate to shoot me an email.
  </h5>
</div>

<div class="icons">
  <h4>Follow Me: </h4>
  <br><br>
  <div class="row">
    <a class="offset-1" href="https://www.linkedin.com/in/rakesh-n-97394b83/"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
    <a class="offset-1" href="https://github.com/rakeshnarvaneni1993"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
  </div>
</div>
