<div class="jumbotron">
  <h1>Rakesh Narvaneni</h1>
  <h3>About Me</h3>
</div>
<div class="row about">
  <div class="col-md-6 image">
    <img src="./../../../assets/me.jpg"  alt="ME">
  </div>
  <div class="col-md-6">
    <p>
      I am a web developer originally from Hyderabad, India and currently based in Charlotte,
      NC. I have over 2 years of experience working as a web developer. I am passionate about all the web technologies
      and love to solve problems using them. I have hands-on experience with all the latest web technologies that are present in the market.
    </p>

    <p>
      I am <strong>currently working for Capgemini, USA</strong>. I joined this company on 4th December and waiting for my new set of challenges.
      I started my journey as a web developer in Chennai, India at <strong>Accenture</strong>. I started as intern there and worked as a full time employee for over a year.
      After that I moved to the US to complete my Master's degree at Fairleigh Dickinson University. I graduated in May, 2017 with 3.5GPA.
      While in my last semester at FDU, I worked as a <strong>freelancer for a startup in New York City</strong>. I helped the startup build a web application to learn Math using Artifical Intelligence.
      Because the startup was no longer funded, I took a contract role at <strong>AT&T</strong>. I was helping them build a tracking web application that is used internally.
      After that contract ended, I accepted a full-time role with Capgemini and have been working with them since.
      <a [routerLink] = "['/work-experience']">Click here</a> to learn more about my work experience.
    </p>

    <p>
      I love watching Anime, reading Manga, obviously pizza and web development. I also love New York city and my dream is to work as a developer in the city and live in Manhattan.
    </p>

    <p>
      I am passionate about teaching and while living in New York City during my Master's, I co-organized a weekly  <a href="https://www.meetup.com/fullstack-coding/">meetup</a> on Sundays in Midtown, Manhattan to teach the basics of web development.
    </p>
    <p>
      If you want to hire me or want to get a cup of coffee, don't hesitate to contact me <a [routerLink] = "['/contact']">here</a>
    </p>
  </div>
</div>
<h3>Some of the nice things my colleagues said about me.</h3>
<div class="jumbotron">
  <div class="row test">
    <div class="col-md-5">
      <img src="./../../../assets/adam.jpg"
           class=""
           alt="Adam"> <br>
      Adam Davies, <br>
      Lead Developer at FullStack Coding LLC.
    </div>

    <p class="col-md-6">
      "I had the pleasure of having Rakesh in my Angular 4 class and he was extremely hard working and bright. He was the top of my class and I've hired him to work on projects with me as he's very talented. I would recommend him to any company as he's extremely bright and is a quick learner without needing any supervision. His experience makes him look like an entry level candidate, but his skills make him a mid-level hire."
      <a href="https://www.linkedin.com/in/rakesh-n-97394b83/">View here</a>
    </p>
  </div>
</div>

