.wrapper{
  height: 50vh;
  /*width: 100%;*/
  margin-top: 10%;
  margin-left: 20%;
  font-size: 24px;
  font-weight: bolder;

}
strong{
  /*font-weight: 600;*/
  font-size: 30px;
}
.row{
  margin-left: 60%;
}
button{
  background-color: black;
  color: white;
  margin-left: 65%;
  cursor: pointer;
}
