<div class="jumbotron">
  <h3>Below is a list of all the Repositories on my GitHub
    account retrieved from <strong>GitHub API</strong> </h3>
</div>

<div class="row">
  <div class="col-md-4" *ngFor="let repo of gitHubData">
    <div class="git">
      <h4>{{repo.name}}</h4>
      <p>{{repo.description}}</p>
      <a [href]="repo.html_url">View on GitHub</a>
    </div>
    <br>
  </div>
</div>


<button hidden = "true" type="button" #clickButton class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">New Chrome Extension</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Chekout my new Chrome extension to track <strong>Cryptocurrency prices:</strong></p>
        <a href="https://chrome.google.com/webstore/detail/cryptocurrency-price-moni/omlcemhghhleeoaoodlipigplhccodbp">Click Here</a>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
