.navbar-brand{
  font-family: 'Alfa Slab One', cursive;
}
:host{
  font-family: 'Roboto Mono', monospace;
}
a{
  font-weight: bolder;
}
li > a.router-link-active {
  color: #551219;
  background-color: #e7e7e7;
}
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
@media (max-width: 992px) {
  .navbar-nav > li{
    padding-left: 0;
    padding-right: 0;
  }
}
