<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Rakesh Narvaneni</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink] = "['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink] = "['/projects']">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink] = "['/about']">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink] = "['/contact']">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink] = "['/work-experience']">Work Experience</a>
      </li>
    </ul>
  </div>
</nav>
